<!DOCTYPE html>
<html lang="en">
  <head>
    <title>jQuery \ Ajax | It Academy</title>
    <meta
      name="description"
      content="Curso de Programación Web / App de Barcelona Activa. Módulo de jQuery \ Ajax"
    />
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link href="../css/fonts.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <article class="row">
        <div class="col-12">
          <header>
            <h1>
              <span class="light">FrontEnd It Academy</span><br />
              Ajax REST API with jQuery <span class="light">\</span> Jokes
            </h1>
            <hr class="separatorRed" />
          </header>
        </div>
      </article>
      <main class="row answer">
        <div class="col-12">
          <p id="answerJoke"></p>
        </div>
      </main>
      <footer class="row">
        <div
          id="createBtnLeft"
          class="col-12 col-md-6 d-flex justify-content-center padRightM"
        >
          <button class="btnRounded" id="getJokeBtn">
            Get a Joke <i class="fas fa-rocket red"></i>
          </button>
        </div>
      </footer>
    </div>
    <!-- End of DOC -->

   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/scripts.js"></script>
    
    
    
  </body>
</html>
